<h1>Detalhe da Ocorrência</h1>

<p><b>Data:</b> {{ ocorrencia.data }}</p>

<p><b>Hora:</b> {{ ocorrencia.hora }}</p>

<p><b>Cidade:</b> {{ ocorrencia.cidade }}</p>

<p><b>Bairro:</b> {{ ocorrencia.bairro }}</p>

<p><b>Natureza:</b> {{ ocorrencia.natureza }}</p>

<p><b>Descrição:</b></p>

<p>{{ ocorrencia.descricao }}</p>

<a href="/ocorrencias/">Voltar</a>
<br><br>

<a href="/ocorrencias/{{ ocorrencia.id }}/relatorio/">
<button>Gerar Relatório</button>
</a>
<br><br>

<a href="/ocorrencias/{{ ocorrencia.id }}/release/">
<button>Gerar Release</button>
</a>